/packages/eslint-config-gear/   @aurelienbobernieth
/packages/gear/                 @aurelienbobernieth
/packages/gear-prettier-config/ @aurelienbobernieth
/packages/gear-tsconfig/        @aurelienbobernieth
